#date-nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#date-nav input[type="submit"] {
    flex: 0.5;
}

#date-nav .spacer {
    flex: 1;
}

.totals {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.totals div {
    flex: 1;
    text-align: center;
}

.meal, .totals {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid color-mix(in srgb, var(--pico-color), transparent 50%);
}

.calories {
    color: #d32f2f;
}

.carbs {
    color: #1976d2;
}

.protein {
    color: #388e3c;
}

.fat {
    color: #fbc02d;
}