:root {
  --bg-color: #1e1e1e;
  --fg-color: #fff;
  --accent-color: #f50;

  font: 16px/1.5 ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--fg-color);
}

html {
  background-color: black;
}

h1 {
  margin: 0;
}