:root {
    --protein-color: dodgerblue;
    --carb-color: green;
    --fat-color: orange;
    --kcal-color: crimson;
}

.green {
    --pico-primary-background: #43a047;
    --pico-primary-border: #43a047;
    --pico-primary-hover-background: #2e7d32;
    --pico-primary-hover-border: #2e7d32;
    --pico-primary-focus: rgba(67, 160, 71, 0.25);
    --pico-primary-inverse: #fff
}

.red {
    --pico-primary-background: #e53935;
    --pico-primary-border: #e53935;
    --pico-primary-hover-background: #c62828;
    --pico-primary-hover-border: #c62828;
    --pico-primary-focus: rgba(229, 57, 53, 0.25);
    --pico-primary-inverse: #fff
}

.warning-box {
    --pico-background-color: #332b00;
    --pico-border-color: #fdd835;
    --pico-color: #fff9c4;
    background-color: rgba(253, 216, 53, 0.4);
    margin-bottom: var(--pico-spacing);
    padding: 1rem;
}

@media (prefers-color-scheme: dark) {
    .warning-box {
        --pico-background-color: #fff3e0;
        --pico-border-color: #ff9800;
        --pico-color: #e65100;
        background-color: rgba(253, 216, 53, 0.1);
    }
}

.hflex {
    display: flex;
}

.hflex > * {
    flex: 1;
}

.vflex {
    display: flex;
    flex-direction: column;
}

.m0 {
    margin: 0;
}